<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <% include ./partials/navbar.ejs %>

    <!-- Page Content -->
    <main class="container">
      <!-- Jumbotron Header -->
      <header class="jumbotron my-4">
        <h1 class="display-3">Welcome to ListFam</h1>
        <p class="lead">Share Lists with your family and friends!</p>
        <a href="#" class="btn btn-primary btn-lg">Sign up</a>
      </header>
    </main>

    <% include ./partials/baseScripts.ejs %>
  </body>
</html>
